.theme {
  &-default {
    --theme-color: #CCC;
    --theme-color-rgb: 204, 204, 204;
    --theme-color-dark: #6d6d6d;
  }

  &-international {
    --theme-color: #C1D9D9;
    --theme-color-rgb: 193,217, 217;
    --theme-color-dark: #507371;
  }

  &-inland {
    --theme-color: #D7E3E8;
    --theme-color-rgb: 215, 227, 232;
    --theme-color-dark: #415963;
  }

  &-wirtschaft {
    --theme-color: #D8DEC1;
    --theme-color-rgb: 216, 222, 193;
    --theme-color-dark: #6f7556;
  }

  &-web {
    --theme-color: #B7CCA3;
    --theme-color-rgb: 183, 204, 163;
    --theme-color-dark: #637353;
  }

  &-sport {
    --theme-color: #C6DC73;
    --theme-color-rgb: 198, 220, 115;
    --theme-color-dark: #637d00;
  }

  &-panorama {
    --theme-color: #AED4AE;
    --theme-color-rgb: 174, 212, 174;
    --theme-color-dark: #4c7d4c;
  }

  &-kultur {
    --theme-color: #D2D0CF;
    --theme-color-rgb: 210, 208, 207;
    --theme-color-dark: #736f6d;
  }

  &-etat {
    --theme-color: #FFCC66;
    --theme-color-rgb: 255, 204, 102;
    --theme-color-dark: #966400;
  }

  &-wissenschaft {
    --theme-color: #CFD3DD;
    --theme-color-rgb: 207, 211, 221;
    --theme-color-dark: #6c717d;
  }

  &-lifestyle {
    --theme-color: #D4EDD4;
    --theme-color-rgb: 212, 237, 212;
    --theme-color-dark: #557755;
  }

  &-diskurs {
    --theme-color: #F8CBC9;
    --theme-color-rgb: 248, 203, 201;
    --theme-color-dark: #ab5652;
  }

  /*
  &-karriere {
    --theme-color: #F7D9A1;
    --theme-color-rgb: 247, 217, 161;
    --theme-color-dark: #946713;
  }
  */

  &-immobilien {
    --theme-color: #C3DCBC;
    --theme-color-rgb: 195, 220, 188;
    --theme-color-dark: #447d34;
  }

  /*
  &-zukunft {
    --theme-color: #F7B6BD;
    --theme-color-rgb: 247, 182, 189;
    --theme-color-dark: #bb4552;
  }
   */

  &-gesundheit {
    --theme-color: #ECBEAC;
    --theme-color-rgb: 236, 190, 172;
    --theme-color-dark: #a5593c;
  }

  &-recht {
    --theme-color: #ECD0F1;
    --theme-color-rgb: 236, 208, 241;
    --theme-color-dark: #864f90;
  }

  /*
  &-familie {
    --theme-color: #B4E3F8;
    --theme-color-rgb: 180, 227, 248;
    --theme-color-dark: #23779c;
  }

  &-bildung {
    --theme-color: #E9C4DE;
    --theme-color-rgb: 233, 196, 222;
    --theme-color-dark: #965e85;
  }

  &-reisen {
    --theme-color: #d4e084;
    --theme-color-rgb: 239, 245, 198;
    --theme-color-dark: #687703;
  }
  */

  &-diestandard {
    --theme-color: #FFDFC2;
    --theme-color-rgb: 255, 223, 194;
    --theme-color-dark: #9a5f2a;
  }
}


.bg-var-light {
  background-color: rgba(var( --theme-color-rgb ), 0.4);
}
