a, button {
  text-decoration: none !important;
  position: relative;
  z-index: 0;

  &:after {
    content: '';
    @apply h-1 absolute left-0 bottom-0 w-full transition-all duration-200;
    background: var( --theme-color );
    z-index: -1;
  }

  &:hover, &:focus {
    @apply text-white;

    &:after {
      @apply h-full;
      background: var( --theme-color-dark );
    }
  }
}

.home {
  &:after {
    content: none;
  }
  @apply p-1 -m-1;

  svg {
    stroke: var( --theme-color-dark);
  }

  &:hover, &:focus {
    background: var( --theme-color-dark );
    svg {
      stroke: white;
    }
  }
}

.header-link {
  h2, h3 {
    @apply px-1 -mx-1;
  }

  &:hover, &:focus {
    h2, h3 {
      @apply text-white;
      background: var( --theme-color-dark );
    }
    &:after {
      @apply h-1;
      background: var( --theme-color );
    }
  }
}

.button-nav {
  &:after {
    content: none;
  }

  &:hover, &:focus {
    svg {
      background: var( --theme-color-dark );
      stroke: white;
    }
  }
}

.skiplink {
  @apply opacity-0 absolute p-2 text-white font-bold pointer-events-none;
  background: var( --theme-color-dark );

  &:after {
    content: none;
  }
}

a:focus, a:hover {
  .teaser-image {
    box-shadow: 0 0 0 6px var(--theme-color-dark);
  }
}
