.prose {
  max-width: 800px;

  h1, h2, h3 {
    color: var( --theme-color-dark );
    @apply font-bold;
  }

  #subNavigation {
    ul {
      @apply m-0;

      li {
        @apply pl-0 m-0 mr-2;

        &:before {
          content: none;
        }
      }
    }
  }

  .img {
    @apply mt-0 mb-2;
  }
}

